*,
li {
  list-style-type: none;
}
.hidden {
  display: none;
}
.show {
  display: block;
}
.store {
  display: inline-block;
}
#container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.h {
  display: none;
}

*,
li {
  list-style-type: none;
}
.hidden {
  display: none;
  width: 100px;
  padding: 10px;
}
.show {
  display: block;
  width: 200px;
  padding: 10px;
}
.store {
  display: inline-block;
}

.h {
  display: none;
}

.box {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
}

#products {
  margin-right: 10px;
}
